@font-face {
    font-family: 'Gilroy';
    src: url(./fonts/gilroy-Bold.woff2), url(./fonts/gilroy-Bold.woff);
    font-weight: 600;
}
@font-face {
    font-family: 'Gilroy';
    src: url(./fonts/gilroy-Medium.woff2), url(./fonts/gilroy-Medium.woff);
    font-weight: 500;
}
*{
    font-family: 'Gilroy';
    color: #070707;
    font-size: 18px;
    line-height: 21.83px;
    font-weight: 500;
    text-align: center;
}

.container{
    max-width: 940px;
    margin: 0 auto;
}
.subtitle{
    font-size: 34px;
    line-height: 42.09px;
    font-weight: 600;
    text-align: center;
}
.link{
    text-decoration: none;
    line-height: 22.68px;
    color: #828282;
    transition: 0.3;
}
.link:hover{
    color: #070707;
}
.nav li{
    list-style-type: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    min-height: 88px;
    align-items: center;
    border-bottom:1px solid #828282;
}
.logo{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 40px 0 104px;
}
.logo h1{
    font-size: 47.34px;
    line-height: 58.61px;
    width: 123.51px;
    height: 118.17;
    font-weight: 600;
}
.about_me{
    margin: 0 auto;
    background-color: #F6F6F6;
}
h4{
    padding-top: 80px;
    padding-bottom: 30px;
}
.about_me_p{
    width: 485.34px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 70px;
}
.about_me p{
    padding: 20px 0 40px;
}
.skills_icons{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}
.skills p{
    padding: 20px 0 80px;
}
.portfolio img{
    margin: 60px 0 30px;
}
#Portfolio{
    background-color: #F6F6F6;
}
button{
    background-color: #070707;
    color: #FFFFFF;
    font-weight: 600;
    width: 180.5px;
    height: 42px;
    border-radius: 45px;
    margin: 30px 0 85px;
}
.social_icons{
    display: flex;
    justify-content: space-between;
    width: 342.18px;
}
footer p{
    color: #828282;
    margin: 45px 0 120px;
}